body {
  width: 100vw;
  height: 100vh;
  font-family: "Arial", "メイリオ";
  font-size: 18px;
  background: #ddd;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
}

label, input {
  display: block;
  background-color: #eee;
}

label {
  font-size: 14px;
}

label:not(:first-of-type) {
  margin-top: 40px;
}

label:focus-within {
  color: #49f;
}

.input_text:focus {
  outline: 0;
  border-bottom: 2px solid #49f;
}

.input_text {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #888;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 18px;
}

.submit_button {
  width: 100%;
  height: 50px;
  margin-top: 60px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #49f;
}

.submit_button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.err {
  font-size: 14px;
  color: #e44;
  margin: 0px;
}
