body {
  font-family: "Arial", "メイリオ";
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 50px  100px 1fr;
  grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
  grid-gap: 10px;
}

.icon {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: #eee;
}

.home_icon {
  color: #49f;
}

.title {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background: #eee;
}

.search {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background: #eee;
}

.action_bar {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  background: #eee;
}

.action_bar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.action_item {
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.action_item:hover {
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
  color: white;
  background-color: #49f;
}

.action_item:hover > .action_button {
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
  color: white;
  background-color: #49f;
}

.action_button {
  margin-left: 10px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: none;
}

.post {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background: #eee;
}

.post_list {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  background: #eee;
}

.recommed {
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  background: #eee;
}
