@import url("./main.css");
@import url("./modal_window.css");

#container {
  grid-template-rows: 50px  0.1fr 1fr;
}

#profile_button {
  color: rgba(40, 164, 252, 1.0);
}

.profile {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 100px 50px 50px 1fr;
  grid-template-columns: 100px 1fr 150px;
}

.user_background {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

#user_background_img {
  width: 100%;
  height: 100%;
}

.user_icon {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

#user_icon_img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border: 3px solid #eee;
  border-radius: 50%;
  background: #fff;
}

#intaract_button {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#edit_button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  border: 1px solid  rgba(68, 152, 255, 1.0);
  color: rgba(68, 152, 255, 0.8);
  background: #fff;
}

#edit_button:hover {
  cursor: pointer;
  background: rgba(68, 152, 255, 0.1);
}

#follow_button {
  width: 118px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  border: 1px solid  rgba(68, 152, 255, 1.0);
  color: rgba(68, 152, 255, 0.8);
  background: #fff;
}

#follow_button:hover {
  cursor: pointer;
  background: rgba(68, 152, 255, 0.1);
}

#rm_follow_button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  color: #fff;
  background: rgba(68, 152, 255, 1.0);
}

#rm_follow_button:hover{
  cursor: pointer;
  background: rgba(219, 46, 57, 1.0);
}

#rm_follow_button::after {
  content: "フォロー中";
}

#rm_follow_button:hover::after{
  content: "フォロー解除";
}

.user_profile {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  grid-template-columns: 100px 1fr 150px;
  padding-top: 10px;
  padding-left: 10px;
}

.u_name {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

#u_name {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.u_profile {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

#u_profile {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.u_follow {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.u_follow > p {
  margin: 0;
}

#u_follow {
  margin-right: 5px;
  font-weight: bold;
}

#u_follow:hover {
  cursor: pointer;
  text-decoration: underline;
}

#u_follower {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
}

#u_follower:hover {
  cursor: pointer;
  text-decoration: underline;
}
